.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: rgba(47,53,66,.4);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 10px;
}

body::backdrop {
  background-color: #fafafa;
}

.MuiDataGrid-window::backdrop {
  background-color: #fafafa;
}

.MuiDataGrid-window::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 10px;
}

.MuiDataGrid-window::-webkit-scrollbar-thumb {
  background: rgba(47,53,66,.4);
  border-radius: 10px;
}

.MuiDataGrid-window::-webkit-scrollbar-thumb {
  background: rgba(47,53,66,.4);
  border-radius: 10px;
}

.MuiDataGrid-window {
  overflow-y: hidden !important;
}
/* 
.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0::-webkit-scrollbar-thumb {
  background: rgba(47,53,66,.4);
  border-radius: 10px;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 10px;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0::backdrop {
  background-color: #fafafa;
} */